body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2670px;
  height:2980px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:2670px;
  height:2980px;
}
#u21 {
  position:absolute;
  left:2px;
  top:1482px;
  width:2666px;
  visibility:hidden;
  word-wrap:break-word;
}
