body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24953 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24954 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24955 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24956 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u24957 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:45px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u24958 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u24959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u24959 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24960 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u24961 {
  position:absolute;
  left:10px;
  top:36px;
  width:20px;
  height:13px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24962 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-style:normal;
  line-height:24px;
}
#u24963 {
  position:absolute;
  left:10px;
  top:75px;
  width:300px;
  height:180px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-style:normal;
  line-height:24px;
}
#u24964 {
  position:absolute;
  left:15px;
  top:50px;
  width:270px;
  word-wrap:break-word;
}
#u24965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24965 {
  position:absolute;
  left:20px;
  top:90px;
  width:30px;
  height:30px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u24966 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u24967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:24px;
}
#u24967 {
  position:absolute;
  left:60px;
  top:93px;
  width:57px;
  height:24px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:24px;
}
#u24968 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
  line-height:24px;
}
#u24969 {
  position:absolute;
  left:10px;
  top:204px;
  width:100px;
  height:40px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
  line-height:24px;
}
#u24970 {
  position:absolute;
  left:15px;
  top:-4px;
  width:70px;
  word-wrap:break-word;
}
#u24971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-1px 0px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:-1px 0px 0px rgba(228, 228, 228, 1);
  box-shadow:-1px 0px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
  line-height:24px;
}
#u24971 {
  position:absolute;
  left:110px;
  top:204px;
  width:100px;
  height:40px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
  line-height:24px;
}
#u24972 {
  position:absolute;
  left:15px;
  top:-4px;
  width:70px;
  word-wrap:break-word;
}
#u24973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-1px 0px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:-1px 0px 0px rgba(228, 228, 228, 1);
  box-shadow:-1px 0px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
  line-height:24px;
}
#u24973 {
  position:absolute;
  left:210px;
  top:204px;
  width:100px;
  height:40px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
  line-height:24px;
}
#u24974 {
  position:absolute;
  left:15px;
  top:-16px;
  width:70px;
  word-wrap:break-word;
}
#u24975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u24975 {
  position:absolute;
  left:20px;
  top:189px;
  width:280px;
  height:1px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24976 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-style:normal;
  line-height:24px;
}
#u24977 {
  position:absolute;
  left:10px;
  top:265px;
  width:300px;
  height:120px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-style:normal;
  line-height:24px;
}
#u24978 {
  position:absolute;
  left:15px;
  top:50px;
  width:270px;
  word-wrap:break-word;
}
#u24979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24979 {
  position:absolute;
  left:20px;
  top:280px;
  width:30px;
  height:30px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u24980 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u24981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:24px;
}
#u24981 {
  position:absolute;
  left:60px;
  top:283px;
  width:71px;
  height:24px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:24px;
}
#u24982 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u24983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24983 {
  position:absolute;
  left:340px;
  top:0px;
  width:320px;
  height:568px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24984 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24985 {
  position:absolute;
  left:340px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24986 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u24987 {
  position:absolute;
  left:340px;
  top:20px;
  width:320px;
  height:45px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u24988 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u24989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u24989 {
  position:absolute;
  left:340px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24990 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u24991 {
  position:absolute;
  left:350px;
  top:36px;
  width:20px;
  height:13px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u24992 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u24993 {
  position:absolute;
  left:350px;
  top:75px;
  width:300px;
  height:120px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u24994 {
  position:absolute;
  left:15px;
  top:50px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24995 {
  position:absolute;
  left:360px;
  top:90px;
  width:30px;
  height:30px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u24996 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u24997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:24px;
}
#u24997 {
  position:absolute;
  left:400px;
  top:93px;
  width:57px;
  height:24px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:24px;
}
#u24998 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u24999 {
  position:absolute;
  left:350px;
  top:205px;
  width:300px;
  height:120px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  line-height:24px;
}
#u25000 {
  position:absolute;
  left:15px;
  top:50px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25001 {
  position:absolute;
  left:360px;
  top:220px;
  width:30px;
  height:30px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u25002 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u25003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:24px;
}
#u25003 {
  position:absolute;
  left:400px;
  top:223px;
  width:71px;
  height:24px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:24px;
}
#u25004 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u25005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u25005 {
  position:absolute;
  left:400px;
  top:130px;
  width:200px;
  height:40px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u25006 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u25007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u25007 {
  position:absolute;
  left:400px;
  top:260px;
  width:200px;
  height:40px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u25008 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u25009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u25009 {
  position:absolute;
  left:220px;
  top:20px;
  width:100px;
  height:45px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u25010 {
  position:absolute;
  left:2px;
  top:16px;
  width:83px;
  word-wrap:break-word;
}
#u25011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u25011 {
  position:absolute;
  left:560px;
  top:20px;
  width:100px;
  height:45px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u25012 {
  position:absolute;
  left:2px;
  top:16px;
  width:83px;
  word-wrap:break-word;
}
