body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14307 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14308 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14309 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14310 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u14311 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:45px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u14312 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u14313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u14313 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14314 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u14315 {
  position:absolute;
  left:10px;
  top:36px;
  width:20px;
  height:13px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14316 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14317 {
  position:absolute;
  left:0px;
  top:80px;
  width:320px;
  height:60px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14318 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14320 {
  position:absolute;
  left:15px;
  top:90px;
  width:40px;
  height:40px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u14321 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u14322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14322 {
  position:absolute;
  left:70px;
  top:80px;
  width:250px;
  height:60px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14323 {
  position:absolute;
  left:0px;
  top:6px;
  width:248px;
  word-wrap:break-word;
}
#u14324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u14324 {
  position:absolute;
  left:220px;
  top:95px;
  width:100px;
  height:30px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u14325 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u14326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14326 {
  position:absolute;
  left:0px;
  top:155px;
  width:320px;
  height:120px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14327 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14329 {
  position:absolute;
  left:15px;
  top:165px;
  width:40px;
  height:40px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u14330 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u14331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14331 {
  position:absolute;
  left:70px;
  top:155px;
  width:250px;
  height:60px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14332 {
  position:absolute;
  left:0px;
  top:6px;
  width:248px;
  word-wrap:break-word;
}
#u14333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
  text-align:right;
}
#u14333 {
  position:absolute;
  left:220px;
  top:155px;
  width:100px;
  height:60px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
  text-align:right;
}
#u14334 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u14335 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14336 {
  position:absolute;
  left:15px;
  top:225px;
  width:40px;
  height:40px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u14337 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u14338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14338 {
  position:absolute;
  left:70px;
  top:215px;
  width:250px;
  height:60px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14339 {
  position:absolute;
  left:0px;
  top:6px;
  width:248px;
  word-wrap:break-word;
}
#u14340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u14340 {
  position:absolute;
  left:213px;
  top:230px;
  width:107px;
  height:30px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u14341 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u14342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u14342 {
  position:absolute;
  left:300px;
  top:238px;
  width:7px;
  height:14px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14343 {
  position:absolute;
  left:2px;
  top:-1px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14344 {
  position:absolute;
  left:340px;
  top:0px;
  width:320px;
  height:568px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14345 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14346 {
  position:absolute;
  left:340px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14347 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u14348 {
  position:absolute;
  left:340px;
  top:20px;
  width:320px;
  height:45px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u14349 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u14350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u14350 {
  position:absolute;
  left:340px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14351 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u14352 {
  position:absolute;
  left:350px;
  top:36px;
  width:20px;
  height:13px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14353 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14354 {
  position:absolute;
  left:340px;
  top:75px;
  width:320px;
  height:60px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14355 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14356 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14357 {
  position:absolute;
  left:355px;
  top:90px;
  width:30px;
  height:30px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#FFFFFF;
}
#u14358 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  word-wrap:break-word;
}
#u14359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14359 {
  position:absolute;
  left:400px;
  top:75px;
  width:260px;
  height:60px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14360 {
  position:absolute;
  left:0px;
  top:6px;
  width:258px;
  word-wrap:break-word;
}
#u14361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u14361 {
  position:absolute;
  left:560px;
  top:90px;
  width:100px;
  height:30px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u14362 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u14363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14363 {
  position:absolute;
  left:340px;
  top:145px;
  width:320px;
  height:120px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14364 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14365 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14366 {
  position:absolute;
  left:355px;
  top:160px;
  width:30px;
  height:30px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u14367 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u14368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14368 {
  position:absolute;
  left:400px;
  top:145px;
  width:260px;
  height:60px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14369 {
  position:absolute;
  left:0px;
  top:6px;
  width:258px;
  word-wrap:break-word;
}
#u14370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
  text-align:right;
}
#u14370 {
  position:absolute;
  left:560px;
  top:145px;
  width:100px;
  height:60px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-style:normal;
  text-align:right;
}
#u14371 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u14372 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14373 {
  position:absolute;
  left:355px;
  top:220px;
  width:30px;
  height:30px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u14374 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u14375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14375 {
  position:absolute;
  left:400px;
  top:205px;
  width:260px;
  height:60px;
  font-family:'PingFangHK-Thin', 'PingFang HK Thin', 'PingFang HK';
  font-weight:200;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u14376 {
  position:absolute;
  left:0px;
  top:6px;
  width:258px;
  word-wrap:break-word;
}
#u14377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u14377 {
  position:absolute;
  left:553px;
  top:220px;
  width:107px;
  height:30px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u14378 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u14379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u14379 {
  position:absolute;
  left:640px;
  top:228px;
  width:7px;
  height:14px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
}
#u14380 {
  position:absolute;
  left:2px;
  top:-1px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
