body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:576px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4027 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:750px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4028 {
  position:absolute;
  left:2px;
  top:367px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u4029 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u4030 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u4031 {
  position:absolute;
  left:10px;
  top:36px;
  width:20px;
  height:13px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4032 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u4033 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:295px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u4034 {
  position:absolute;
  left:15px;
  top:140px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u4035 {
  position:absolute;
  left:70px;
  top:65px;
  width:250px;
  height:70px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u4036 {
  position:absolute;
  left:15px;
  top:11px;
  width:220px;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4037 {
  position:absolute;
  left:15px;
  top:80px;
  width:40px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u4038 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4039 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4040 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4042 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u4043 {
  position:absolute;
  left:0px;
  top:375px;
  width:320px;
  height:90px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u4044 {
  position:absolute;
  left:15px;
  top:37px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4045 {
  position:absolute;
  left:15px;
  top:375px;
  width:100px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4046 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u4047 {
  position:absolute;
  left:115px;
  top:375px;
  width:205px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u4048 {
  position:absolute;
  left:0px;
  top:14px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4049 {
  position:absolute;
  left:15px;
  top:420px;
  width:100px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4050 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#0099FF;
  text-align:right;
}
#u4051 {
  position:absolute;
  left:115px;
  top:420px;
  width:205px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#0099FF;
  text-align:right;
}
#u4052 {
  position:absolute;
  left:0px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u4053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u4054 {
  position:absolute;
  left:260px;
  top:385px;
  width:50px;
  height:25px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u4055 {
  position:absolute;
  left:10px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4056 {
  position:absolute;
  left:285px;
  top:385px;
  width:25px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4057 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u4058 {
  position:absolute;
  left:0px;
  top:483px;
  width:320px;
  height:90px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u4059 {
  position:absolute;
  left:15px;
  top:37px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4060 {
  position:absolute;
  left:15px;
  top:483px;
  width:100px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4061 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u4062 {
  position:absolute;
  left:115px;
  top:483px;
  width:205px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u4063 {
  position:absolute;
  left:0px;
  top:14px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4064 {
  position:absolute;
  left:15px;
  top:528px;
  width:100px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4065 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#0099FF;
  text-align:right;
}
#u4066 {
  position:absolute;
  left:115px;
  top:528px;
  width:205px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#0099FF;
  text-align:right;
}
#u4067 {
  position:absolute;
  left:0px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u4069 {
  position:absolute;
  left:260px;
  top:493px;
  width:50px;
  height:25px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u4070 {
  position:absolute;
  left:10px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4071 {
  position:absolute;
  left:285px;
  top:493px;
  width:25px;
  height:25px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4072 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u4073 {
  position:absolute;
  left:0px;
  top:590px;
  width:320px;
  height:140px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u4074 {
  position:absolute;
  left:15px;
  top:62px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4075 {
  position:absolute;
  left:15px;
  top:590px;
  width:100px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4076 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u4077 {
  position:absolute;
  left:115px;
  top:590px;
  width:205px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u4078 {
  position:absolute;
  left:0px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u4079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4079 {
  position:absolute;
  left:15px;
  top:635px;
  width:155px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4080 {
  position:absolute;
  left:0px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#0099FF;
  text-align:right;
}
#u4081 {
  position:absolute;
  left:170px;
  top:635px;
  width:150px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#0099FF;
  text-align:right;
}
#u4082 {
  position:absolute;
  left:0px;
  top:12px;
  width:135px;
  word-wrap:break-word;
}
#u4083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u4083 {
  position:absolute;
  left:0px;
  top:135px;
  width:320px;
  height:90px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
}
#u4084 {
  position:absolute;
  left:15px;
  top:37px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4085 {
  position:absolute;
  left:15px;
  top:135px;
  width:100px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4086 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u4087 {
  position:absolute;
  left:115px;
  top:135px;
  width:205px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u4088 {
  position:absolute;
  left:0px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u4089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4089 {
  position:absolute;
  left:15px;
  top:180px;
  width:100px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4090 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u4091 {
  position:absolute;
  left:115px;
  top:180px;
  width:205px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u4092 {
  position:absolute;
  left:0px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4093 {
  position:absolute;
  left:15px;
  top:225px;
  width:100px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4094 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u4095 {
  position:absolute;
  left:115px;
  top:225px;
  width:205px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u4096 {
  position:absolute;
  left:0px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u4097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4097 {
  position:absolute;
  left:15px;
  top:270px;
  width:100px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4098 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u4099 {
  position:absolute;
  left:115px;
  top:270px;
  width:205px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u4100 {
  position:absolute;
  left:0px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u4101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4101 {
  position:absolute;
  left:15px;
  top:315px;
  width:100px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4102 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u4103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  -webkit-box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  box-shadow:0px -1px 0px rgba(228, 228, 228, 1);
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u4103 {
  position:absolute;
  left:115px;
  top:315px;
  width:205px;
  height:45px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u4104 {
  position:absolute;
  left:0px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u4105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4105 {
  position:absolute;
  left:15px;
  top:680px;
  width:288px;
  height:40px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u4106 {
  position:absolute;
  left:2px;
  top:13px;
  width:284px;
  word-wrap:break-word;
}
#u4107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4107 {
  position:absolute;
  left:250px;
  top:135px;
  width:70px;
  height:225px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4108 {
  position:absolute;
  left:2px;
  top:104px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4109_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:50px;
  height:21px;
}
#u4109p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:42px;
  height:1px;
}
#u4109p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:54px;
  height:22px;
}
#u4109p001 {
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4109p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u4109.compound {
  width:0px;
  height:0px;
}
#u4109 {
  position:absolute;
  left:330px;
  top:202px;
  width:40px;
  height:1px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#00FFFF;
}
#u4111 {
  position:absolute;
  left:380px;
  top:195px;
  width:196px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#00FFFF;
}
#u4112 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
